#intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}
.text {
  text-align: left;
  margin-top: 50px;
  padding-left: 20px;
  width: 20rem;
}
.table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.table-card {
  width: 20rem;
  height: auto;
  padding: 10px;
  margin: 5px;
  text-align: center;
}
.table-card .icon {
  font-size: 30px;
  justify-content: center;
  padding: 2rem;
}
.table-card a {
  border: none;
  background-color: orange;
  padding: 10px;
  border-radius: 5px;
  margin: 20px;
  text-decoration: none;
  color: #000;
}
.table-card a:hover {
  transition: 0.5s;
  background-color: transparent;
  border: 2px solid #000;
  color: #000;
}
#fqa {
  width: 50rem;
  height: 350px;
  box-shadow: 4px 4px 4px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  padding: 50px;
  margin: 50px auto;
  overflow: hidden;
}
#question-header {
  width: 30rem;
  height: 50rem;
  margin: 0px;
  padding: 5px;
}
#question-header p {
  font-size: 15px;
}
#question-header a {
  text-decoration: none;
  color: #000;
  border: none;
  border: 1px solid #000;
  padding: 10px;
  background-color: white;
}
#question {
  display: flex;
  flex-direction: column;
  padding: 5px 0px;
  width: 20rem;
  margin: 10px;
  text-align: right;
}
.question {
  text-align: right;
  font-weight: 500;
}
#question button {
  width: 20rem;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid;
  padding: 10px;
  margin: 10px;
}
#question p {
  padding: 0px 5px;
}
#question .icon {
  padding: 0px 10px;
}
@media (max-width: 767px) {
  #intro,
  .table {
    display: flex;
    flex-direction: column;
  }
  #fqa {
    width: 100%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    margin: 5px;
    justify-content: center;
    box-shadow: none;
  }
}
