/* meun  */
#menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  margin: 20px 0px;
}
.box {
  width: 14rem;
  justify-content: center;
  padding: 10px;
  height: 50vh;
  border-radius: 10px;
  float: left;
}
.box a {
  text-decoration: none;
  display: block;
  color: black;
  padding: 5px 0px;
  margin: 10px;
  width: 10rem;
  border-bottom: 1px solid gray;
}
.menu {
  display: flex;
  flex-direction: column;
}
#menu h2 {
  margin-right: 10px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
  flex-wrap: wrap;
}
.checked {
  color: orange;
}
.card {
  border-radius: 10px;
  height: auto;
  width: 16rem;
  /* border: 1px solid #000; */
  margin: 10px;
  padding: 10px;
  box-shadow: 2px 1px rgba(0, 0, 0, 0.2);
}
.card-img {
  border-radius: 10px 10px 0px 0px;
  height: 230px;
  width: 100%;
}

button {
  background-color: orange;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}

@media (max-width: 767px) {
  .box {
    display: none;
  }
  #menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu {
    margin-top: 0px;
  }
  .card .star-rating,
  .card p {
    display: none;
  }
}
