* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
  position: relative;
}
nav {
  background-color: #fa003f;
  color: #fff;
}
#nav a:hover {
  color: #ffd700;
}
.nav-item .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.9);
}
.nav-item .dropdown-menu a {
  color: #fff;
}
.nav-item .dropdown-menu a:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
.navbar-toggler-icon {
  color: #000;
}
form .btn {
  color: #fff;
}

/* header  */
.home {
  display: flex;
  flex-direction: row;
  padding: 2rem 9%;
  gap: 1.5rem;
  background: linear-gradient(to top, #000, #8b0000);
  min-height: 80vh;
}
.home .content {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  margin: auto 2rem;
  flex: 1 1 40rem;
}
.home .image {
  flex: 1 1 40rem;
}
.home .image img {
  width: 30rem;
  padding: 1rem;
  animation: float 3s linear infinite;
}
.home .content h3 {
  font-size: 5rem;
  color: #666;
  padding: 1rem 0;
}
.home .content p {
  width: 30rem;
  font-size: 1.2rem;
  font-weight: 300;
  color: #fff;
  padding: 1rem 0;
  font-family: "Mozilla Headline", sans-serif;
}
.content .btn {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 1rem;
  background-color: #ffd700;
}
/* footer  */
.footer {
  max-width: 1170px;
  margin: auto;
  display: flex;
  flex-wrap: wrap-reverse;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
}

footer {
  background-color: #fa003f;
  padding: 10px;
}
ul {
  list-style: none;
}
.column {
  width: 25%;
}
.column h4 {
  font-size: 18px;
  color: #ffd700;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}
.column h4::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -10px;
  background-color: #fa003f;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.column ul li::not(last-child) {
  margin-bottom: 10px;
}
.column ul li a {
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: #ffd700;
  display: block;
}
.social-link a {
  color: #ffd700;
}
footer p {
  color: #ffd700;
  text-align: center;
}
#arrow {
  position: fixed;
  font-size: 30px;
  bottom: 10px;
  right: 1rem;
  color: #ffd700;
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(3rem);
  }
}
@media (max-width: 767px) {
  header {
    height: auto;
  }
  .home {
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: center;
    position: absolute;
    width: 100%;
  }
  .home .content {
    text-align: left;
    height: 10px;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    flex: 1 1 5rem;
  }
  .home .content p {
    margin: autos;
    height: 20rem;
    width: 15rem;
    font-size: 18px;
  }
  .home .image img {
    width: 15rem;
    margin: 5rem;
    padding: auto;
  }
  .content .btn {
    margin: auto;
    padding: auto;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .column {
    width: 45%;
    padding: 0 15px;
  }
}
