* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.navbar {
  background-color: black;
  color: #fff;
}
.navbar a {
  color: #fff;
}
.nav-item .dropdown-menu {
  background-color: black;
}
form .btn {
  color: #fff;
}

/* header  */
.header {
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 10px;
}
.header p {
  width: 20rem;
  align-items: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.header button {
  border: none;
  padding: 10px;
  background-color: orange;
  border-radius: 10px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
.header a {
  text-decoration: none;
  color: #fff;
}
/* footer  */
.footer {
  max-width: 1170px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

footer {
  background-color: black;
  padding: 10px;
}
ul {
  list-style: none;
}
.column {
  width: 25%;
}
.column h4 {
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}
.column h4::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.column ul li::not(last-child) {
  margin-bottom: 10px;
}
.column ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
}
.social-link a {
  color: #bbbbbb;
}
footer p {
  color: #bbbbbb;
  text-align: center;
}
